$color-text-secondary: #dbdbdb;
$color-acento: #3880ff;

ion-header {
  ion-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1.1rem;
    font-weight: 600;
  }
}

.buscador-card {
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(221, 217, 217, 0.07);
}

ion-item {
  --border-radius: 12px;
  margin-bottom: 12px;
}

.search-btn {
  margin-top: 16px;
  --background: $color-acento;
  --color: rgb(218, 22, 22);
  font-weight: 600;
  letter-spacing: 0.5px;
}

.resultados {
  margin-top: 30px;

  .resultado-item {
    margin-bottom: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

    ion-card-title {
      font-size: 1rem;
      font-weight: bold;
    }

    ion-card-content p {
      margin-bottom: 10px;
      color: #e60909;
    }
  }
}
.spinner-center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.no-resultados {
  text-align: center;
  margin-top: 50px;
  color: $color-text-secondary;

  p {
    margin-top: 10px;
    font-size: 16px;
  }

}
